source https://api.nuget.org/v3/index.json
framework: >= net461

nuget FSharp.Core
nuget Newtonsoft.Json
nuget FsPickler
nuget FsPickler.Json
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget DiffSharp
nuget FSharp.Charting
nuget FSharp.Formatting prerelease

group Build
    source https://api.nuget.org/v3/index.json
    framework: >= netstandard2.0

    nuget FSharp.Core
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Fsi
    nuget Fake.Core.Target