source https://api.nuget.org/v3/index.json
framework: netcoreapp5.0
generate_load_scripts: true

nuget FSharp.Core
nuget Newtonsoft.Json
nuget FsPickler
nuget FsPickler.Json
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget DiffSharp
nuget FSharp.Charting
nuget FSharp.Formatting
nuget Aether
nuget FSharpPlus
nuget FSharpx.Extras
nuget FSharpx.Collections
nuget FSharp.Collections.ParallelSeq

group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Fsi
    nuget Fake.DotNet.Paket
    nuget Fake.IO.FileSystem