source https://api.nuget.org/v3/index.json

framework: >= net461
nuget FSharp.Core
nuget Newtonsoft.Json
nuget FsPickler
nuget FsPickler.Json
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget DiffSharp
nuget FSharp.Charting
